
body{
    margin: 0;
}
/*建立右侧浮窗*/
.nav { width:200px; height: 200px; border: 1px solid #e05b0e; position:fixed;right:10px;top:10%; z-index:auto;    display : fixed;}
.nav2{ width:200px; height: 25px; border: 1px solid #e05b0e;background-color: #ff9900; color: rgb(150, 89, 20); position:fixed;right:10px;top:90%;z-index:auto;}
a:link,a:visited{
    text-decoration:none; /*超链bai接du无下划线*/
    }
a:hover{
    text-decoration:underline; /*鼠标zhi放上去有dao下划线*/
    }
.bac{
    background:rgb(209, 178, 120); 
   *background:rgb(209, 178, 120);
}
.demo{
    text-align:center;
}
.size1{
    font-size:24px;
}
.size2{
    font-size:16px;
}
.col{
    color: brown;
   
}
.colg{
    color: green ;
   
}
.colr{
    color: red;
    
}
.colrgb{
    color: rgb(108, 180, 0);
   
}
.colyg{
    color: yellowgreen;
    
}
.colc{
    color: coral;
   
}
.dropbtn {  
    background-color: #bd5f08;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color:  brown;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff7b00;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
.left{
    line-height: 230%;
    border-right: 1% solid brown;
    border-left: 1% solid brown;
    float:left;
    width: 25%;
    height: 100%;
    background-color: rgb(240, 171, 42);
}
.d1 {
    
    width:100%;
    height: 200px;         
    border-top: 5px solid brown;
    display: inline-block;
    margin: 0px 10px 10px 0px;
    padding: 10px 10px 10px 10px;
}
.d2 {
    
    width:100%;
    height: 50px; 
    display: inline-block;
}
